html, body {
  height: 100vh;
  margin: 0;
  font-family: "Josefin Sans","sans-serif";

}

.App {
  height:100vh;
  background-color:#202020;
}

.inner-fill {
  fill: white;
  transition:0.1s ease-in ;
}
.item-text{
  color:#202020;
  opacity:0.9;
}

.stroke {
  fill: #202020;
}

.sidebar{
  width:55px;
  height:100vh;
  background-color:white;
  position: relative;
  transition:0.2s ease-in-out !important;
  opacity:1;
  z-index:5000;
  text-align: center;
}

.sidebar:hover .navigation-item{
  animation: rotate-back 0.4s ease-in-out forwards;
}
.sidebar:hover .marker2{
  opacity:1;
  transition:0.2s ease;
  transition-delay:0.4s;
}
.sidebar:hover .navigation-item p{
  font-size: 18px;
  transition:0.2s ease-in-out;
}
.sidebar:hover{
  width:140px !important;
  transition:0.2s ease-in-out;
}

.sidebar:hover .item4{
  top:50%;
  transition:0.4s ease-in-out;
}
.sidebar:hover .item3{
  top:40%;
  transition:0.3s ease-in-out;
}
.sidebar:hover .item2{
  top:30%;
  transition:0.2s ease-in-out;
}
.sidebar:hover .item1{
  top:20%;
  transition:0.3s ease-in-out;
}

.sidebar:hover .logo-container{
  transform:rotate(90deg);
  transition:0.4s ease-in-out;
}

.logo-container{
  padding:5px;
  transition:0.2s ease-in-out;
}
.logo-container:hover{
  cursor: pointer;
}

.logo-container:hover .inner-fill{
  fill:#202020;
  transition:0.1s ease-in;
}

.vertical-line {
  border-left: 1px solid grey;
  position:absolute;
  height:100%;
  left:26px;
}
.navigation{
  height:60%;
  position:relative;
  top: 45%;
  transform: translateY(-50%);
}

.navigation-item p{
  margin-top:0;
  margin-bottom:0;
  padding: 5px;
  font-size: 10px;
}

.navigation-item p a{
  text-decoration: none;
  color:black;
}

.navigation-item{
  position: absolute;
  z-index: 100;
  height:25px;
  padding-top:5px;
  left: 0;
  right: 0;
  margin: auto
}

.navigation-item:hover .marker{
  opacity:1;
  transition:0.2s ease-in-out;
  transition-delay:0.1s;
}

.item1{
  top:5%;
  transition:0.2s ease-in-out;
}
.item2{
  top:33%;
  transition:0.2s ease-in-out;
}
.item3{
  top:64%;
  transition:0.2s ease-in-out;
}
.item4{
  top:93%;
  transition:0.2s ease-in-out;
}

.marker {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #202020;
  position: absolute;
  z-index: 6000 !important;
  top: 8px;
  right: 0;
  transform: rotate(180deg);
  opacity:0;
  -webkit-backface-visibility: hidden;
}

.marker2 {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffffff;
  position: absolute;
  z-index: 6000 !important;
  top: 8px;
  right: -10px;
  opacity:0;
  transition:0.2s ease;
  -webkit-backface-visibility: hidden;
}

.navigation-item:hover{
  cursor: pointer;
}

.navigation-item:hover .item-text{
  opacity:1;
  transition:0.2s ease;
  transform:scale(1.1)
}


.move-text-right{
  animation: moverighttext 0.5s ease-in-out forwards;
}
.move-text-back{
  animation: movebackttext 0.5s ease-in-out forwards;
}


@keyframes moveright {
  0%{
    left:48px;
  }
  100%{
    left:55px;
  }
}

@keyframes moverighttext {
  0%{
    transform:translateX(0px)translateY(0px);
    color:black;
    font-size:12px;
  }
  100%{
    transform:translateX(68px)translateY(-3px);
    color:white;
    font-size:19px;
  }
}

@keyframes movebackttext {
  from{
    transform:translateX(68px)translateY(-3px);
    color:white;
    font-size:19px;
  }
  to{
    transform:translateX(0px)translateY(0px);
    color:black;
    font-size:10px;
  }
}


.navigation-item{
  transform:rotate(-90deg);
}

.logo-container svg{
  margin-top:5px;
  transform:rotate(90deg);
}

@keyframes rotate-back {
  from{
    margin-top:5px;
    transform:rotate(90deg);
  }
  to{
    margin-top:5px;
    transform:rotate(0deg);
  }
}

.content{
  position:fixed;
  top:0;
  width:98%;
  left:55px;
  height:100%;
  background-color:#202020;
  z-index: 2000 !important;
  color: #e2e2e2;
  opacity:1 ;

}

#bg{
  z-index: -1;
  position:absolute;
  max-width:100%;
  top: 50%;
  opacity:1;
  transform: translateY(-50%);
  transition:1.5s ease-in-out;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}




.top-section{
  text-align: center;
}



.slide1{
  background-color:white;
  position:absolute;
  width:100%;
  height:100%;
  z-index:4002 !important;
  top:0;
  right:0;
  transform: translateZ(0);

}

.slide2{
  background-color: #202020;
  position:absolute;
  width:110%;
  height:50%;
  z-index:4001 !important;
  top:50%;
  left:-5%;
  transform: translateZ(0);
}
.slide22{
  background-color:  #202020;
  position:absolute;
  width:80%;
  height:25%;
  z-index:4000 !important;
  top:80%;
  left:-5%;
  transform: translateZ(0);
}



.slide3{
  background-color:white;
  position:absolute;
  width:100%;
  height:110%;
  z-index:4002 !important;
  top:-5%;
  right:0;
  opacity:0;
  transform: translateZ(0);
}

.slide4{
  background-color:#202020;
  position:absolute;
  width:100%;
  height:110%;
  z-index:4001 !important;
  top:-5%;
  left:0;
  transform: translateZ(0);
}

.home-content{
  height:100%;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
.home-top-content{
  width:40%;
  position: relative;
}

.face-picture-container #picBack{
  max-width:100%;
  opacity:0.9;
  transition:0.2s ease;
}


.face-picture-container #picFront{
   max-width:100%;
   top:0;
   left:0;
   position:absolute;

 }

/*
.face-picture-container:hover #picBack{
  transition:0.6s ease;
  opacity:0 !important;
}

*/

.face-picture-container{
  width:35%;
  margin-top:21px;
  position:relative;
}

.text{
  margin-top:50px;
}

#services-button{
  margin-top:40px;
  width:150px;
  height:40px;
  background-color:transparent;
  border-color:#e2e2e2;
  color:#e2e2e2;
  cursor:pointer;
  font-weight: bold;
  transition:0.3s ease;
}

#services-button:hover{
  letter-spacing: 2px;
  transition:0.3s ease;
  background-color:#e2e2e2;
  border-color:#e2e2e2;
  color:#202020;
  font-size:15px;
}





.button {
  margin-top:40px;
  position: relative;
  border: 2px solid #e2e2e2;
  padding: 10px 5px;
  text-align: center;
  max-width: 150px;
  min-width: 40px;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  pointer-events: auto;
}

.button a {
  color:#202020;
  text-decoration: none !important;
  transition:0.2s ease;
  letter-spacing: 1px;

}

.button .mask {
  background: #e2e2e2;
}

.button .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  z-index:-1;
  transition:0.2s ease;
}

.button:hover {
  border-color: #e2e2e2;
}

.button:hover a {
  color: #e2e2e2;
  padding-left:20px;
  transition:0.2s ease;
  padding-right:5px;
}

.button:hover .mask {
  background: #e2e2e2;
  width:0;
  transition:0.2s ease;
}
#button-arrow{
  margin-left:-10px;
  opacity:0;
  transition:0.2s ease;
  color:#e2e2e2;
  text-decoration: none !important;
}

.button:hover #button-arrow {
  opacity:1;
  transition:0.2s ease;
  margin-left:10px;
}


.contact-content{
  display:flex;
  width:100%;
  height:100%;
  flex-direction: column;
  justify-content: center;
  transition:0.3s ease;
}

.form-wrapper{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:100px;
}

.form{
  width:45%;
  margin-top:20px;
  margin-bottom:20px;
  height:30px;
  padding-left:15px;
}

.text-area{
  padding-left:15px;
  padding-top:10px;
  width:45%;
  margin-top:20px;
  margin-bottom:20px;
}

.send-button{
  align-items: flex-start;
  width:100px;
  height:35px;
  margin-top:20px;
  background-color: #e2e2e2;
  color: #202020;
  border-color:#e2e2e2;
  transition:0.3s ease;
}

.send-button:hover{
  background-color: #202020;
  color: #e2e2e2;
  border-color:#e2e2e2;
  cursor: pointer;
  transition:0.3s ease;
}

.content-projects-wrapper{
  position:fixed;
  top:0;
  width:93%;
  left:55px;
  height:100%;
  z-index: 2000 !important;
  color: #e2e2e2;
  opacity:0 ;
  display:flex;
  justify-content: center;
  overflow-y: auto;
}

.projects{
  width:100%;
  overflow-y: auto;
  margin-top: 65px;
  padding-right: 20%;
  padding-left: 10%;
}

.live-site {
  color: #e2e2e2;
  position: absolute;
  bottom: 2%;
  right: 4%;
  cursor: pointer;
  transition:0.2s ease;
}

.live-site:hover span{
  transition:0.2s ease;
  margin-left:10px;
}

.live-site span{
  transition:0.2s ease;
}

#first-kocka{
  margin-top:0px !important;
}

.kocka{
  width:70vw;
  height:80vh;
  margin-top:100px;
  margin-bottom:100px;
  left:5%;
  position:relative;
}


.project-card-img{
  max-width: 100%;
  width: 100%;
  height:100%;
  position: absolute;
  transition:0.3s ease;
  opacity:0.9;
  box-shadow: 0 0 32px black;
}

.kocka:hover .project-card-img{
  opacity:0.1;
  transition:0.3s ease;
  cursor: pointer;
}


.kocka:hover .project-card-h1{
  opacity:1;
  transition:0.3s ease;
}

.project-card-h1{
  position: absolute;
  color: #e2e2e2;
  padding: 12px;
  opacity:0;
  left: 5%;
  top:5%;
  transition:0.3s ease;
}




#card-button {
  bottom: 5%;
  position: absolute;
  width: 145px;
  left: 5%;
  margin-bottom:18px;
  font-size:11px !important;
}






.content-services-wrapper{
  position:fixed;
  top:0;
  width:100%;
  left:55px;
  height:100%;
  z-index: 2000 !important;
  color: #e2e2e2;
  opacity:0 ;
  display:flex;
  justify-content: center;
  overflow-y: auto;
  transition:1s ease;
}

.services{
  overflow-y: auto;
  margin-top: 45px;
  padding-left: 20%;
  padding-right: 25%;
  margin-right:5%;
}

#first-pravokutnik{
  margin-top:20px !important;
}

.pravokutnik{
  width:50vw;
  height:50vh;
  border:2px solid #e2e2e2;
  top:0;
  left:0;
  position:relative;
  margin-bottom:80px;
  margin-top:80px;
  box-shadow: 0 0 32px black;
}

.card-top{
  width:100%;
  position:relative;
  display:flex;
}

.card-h1{
  margin-left:5%;
  background-color:#202020;
  width: 65%;
}


.line{
  height: 2px;
  width: 50%;
  background-color: #e2e2e2;
  margin-right: 5%;
  margin-top:32px;
}

.card-side{
  position:absolute;
  bottom:5%;
  right:5%;
  width:55%;
  text-align: right;
}





::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #898989;
}


.slide-services-1{
  background-color:white;
  position:absolute;
  width:100%;
  height:100%;
  z-index:4002 !important;
  top:0;
  right:0;
  transform: translateZ(0);

}

.slide-services-2{
  background-color: #202020;
  position:absolute;
  width:100%;
  height:100%;
  z-index:4001 !important;
  top:0;
  left:0;
  transform: translateZ(0);
}

.slide-services-3{
  background-color:white;
  position:absolute;
  width:100%;
  height:100%;
  z-index:4002 !important;
  top:0;
  right:0;
  transform: translateZ(0);

}

.slide-services-4{
  background-color: #202020;
  position:absolute;
  width:100%;
  height:100%;
  z-index:4001 !important;
  top:0;
  left:0;
  transform: translateZ(0);
}

.slide-services1-1{
  background-color:white;
  position:absolute;
  width:100%;
  height:100%;
  z-index:4002 !important;
  top:0;
  right:0;
  transform: translateZ(0);
}


.slide-services1-2{
  background-color: #202020;
  position:absolute;
  width:100%;
  height:100%;
  z-index:4001 !important;
  top:0;
  left:0;
  transform: translateZ(0);
}


.skills{
  width:85%;
  position:absolute;
  left:120px;
}


.amount1{

}
.amount2{

}
.amount3{

}
.amount4{

}
.amount5{

}

.amount{
  width:0;
  height:25px;
  background-color:white;
  transition:1s ease;
}

.amount p{
  color:#202020;
  text-align: right;
  margin-right:20px;
  padding:5px;
}

.skill h2{
  transition:0.5s ease;
  opacity:0;
}

.skills-content{
  position: fixed;
  height: 100%;
  overflow-y: auto;
  width: 90%;
  top:5%;
}



#picFront{
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#picBack{
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



@media screen and (max-width: 1000px) {
  .form {
    width:50%;
  }
  .text-area{
    width:50%;
  }
  .card-side p{
    font-size:13px;
  }
}

@media screen and (max-width: 500px) {
  .card-side p{
    font-size:11px;
  }
  .card-side{
    width:40% !important;
  }
  .card-top h1{
    font-size:25px;
  }
  #card-button{
    font-size:9px;
    width: 120px;
  }
  .kocka{
    height:30vh !important;
  }
  .form {
    width:75%;
    padding-left:0;
  }
  .text-area{
    width:75%;
    padding-left:0;
  }
  #contact-content{
    left:30px;
  }
  #skills-container{
    left:0;
  }
  .skills-content{
    width:90% !important;
  }
  .amount p{
    margin-right:50px;
  }
}

@media screen and (max-width: 800px) {
  .skills-content{
    width:80%;
  }
  #home-container{
    left:20px;
  }
  #h1-parallax{
    font-size:11px !important;
  }
}
@media screen and (max-width: 750px) {
  .pravokutnik{
    width:60vw;
  }
  .services{
    padding-left:15%;
  }
}
@media screen and (max-width: 360px) {
  .pravokutnik{
    height:35vh !important;
  }
  .card-side{
    width:43% !important;
  }
}

@media screen and (max-width: 400px) {
  #h1-parallax{
    font-size:14px !important;
  }
  #p-parallax{
    font-size:18px;
  }
  .skills{
    left:80px;
  }
  .home-top-content{
    top:5% !important;
    width:65% !important;
    left: 5% !important;
  }
  .face-picture-container {
    visibility: hidden;
  }
}

@media screen and (max-width: 625px) {
  .marker{
    visibility: hidden !important;
  }
  .marker2{
    visibility: hidden !important;
  }
  .content-services-wrapper{
   left:20px;
  }
  .pravokutnik{
    width:70vw;
  }
  .projects{
    padding-left:5%;
  }
  .kocka{
    height:50vh;
  }
  .navigation{
    top: 40% !important;
  }
  .home-content{
    flex-direction: column;
  }
  .home-top-content{
    top:10%;
    width:70%;
  }
  .face-picture-container {
    width: 35%;
    margin-top: 0;
    margin-left: 45%;
  }
  .sidebar:hover{
    width:55px !important;
  }
  .sidebar:hover .navigation-item{
    animation: none;
  }
  .sidebar:hover .item1{
    top:5% !important;
  }
  .sidebar:hover .item2{
    top:33% !important;
  }
  .sidebar:hover .item3{
    top:64% !important;
  }
  .sidebar:hover .item4{
    top:93% !important;
  }
  .sidebar:hover .logo-container{
    transform:rotate(0deg);
  }
  .sidebar:hover .navigation-item p{
    font-size: 10px !important;
  }
  .button:hover a {
    color: #e2e2e2;
    padding-left:0;
    padding-right:0;
  }
}

.loader-img-wrapper{
  width:200px;
  height:166px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  animation: move-loader-logo 1s forwards ease 0.5s;
}

.loader{
  position:absolute;
  background-color: white;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:9000 !important;
  animation: move-loader 1s forwards ease 2s;
  overflow: hidden;
}



@keyframes move-loader-logo{
  0%{
    width:200px;
  }
  100%{
    width:350px;
  }
}

@keyframes move-loader{
  0%{
    opacity:1;
  }
  65%{
    opacity:1;
  }
  100%{
    width:0;
    right:55px;
    opacity:0;
  }
}



.st0{
  fill:#202020;
}

#pathRight{
  animation: right-path 0.5s ease forwards 1.4s;
}

#pathLeft{
  animation: left-path 0.5s ease forwards 1.4s;
}



@keyframes right-path {
  0%{
    transform:translateX(0) translateY(0)
  }
  100%{
    transform:translateX(60px) translateY(60px) ;
    opacity:0;
  }
}

@keyframes left-path {
  0%{
    transform:translateX(0) translateY(0);
  }
  100%{
    transform:translateX(-60px) translateY(-60px);
    opacity:0;
  }
}
